@media screen and (max-width: 1024px) {
  .liens-nav a:hover {
    cursor: pointer;
    border : none;
    color: black;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .filters h3 {
    margin-bottom: 20px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .activites-cards img {
    height: 200px;
  }
}
